<!-- <p>header works!</p> -->
<section> 
    <mat-toolbar  class='navbar' color='primary'>
      <div>𝓡€Ⓢ𝐎Řⓣ
       <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
       <mat-icon> local_hotel</mat-icon>
    
      </div> 
    
    
      <div class="navigation">
        
        
        <a mat-raised-button  class=active><a href="#"><mat-icon>chalet</mat-icon>н𝓞𝓂𝐄</a></a>
        <a  mat-raised-button routerLink="/aboutus"> <mat-icon>info</mat-icon><strong> ⒶвᗝⓊt 𝐔ร</strong></a>
     <!-- <button mat-raised-button >
          <a [routerLink]="['/aboutus']">About Us</a>
          </button> -->
         <!-- <button mat-raised-button ><a routerLink="/aboutus"routerLinkActive="active">About Us</a></button>  -->
        <a mat-raised-button routerLink="/bookroom"><mat-icon>room</mat-icon><strong>𝐁ᵒσҜ 𝓡𝐨ｏⓜ</strong></a>
        <a  mat-raised-button  routerLink="/contactus"> <mat-icon>contact_support</mat-icon><strong><b>𝓒Ỗｎ𝕋ᗩ𝓬т ᵘ𝐬</b></strong></a> 
        <a mat-raised-button routerLink="/login"><mat-icon>login</mat-icon><strong>𝓛Ｏ𝓖เ𝐍 </strong></a>
        <a mat-raised-button routerLink="/"><mat-icon>logout</mat-icon><strong>𝕃𝕠𝔾𝓸Ǘ丅</strong></a>
     
      </div>
      
    </mat-toolbar>
    </section> 
